{% extends 'base.html.twig' %}

{% block title %}Hello Détail Article!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ article.titre }}</h1>

    <p>{{article.description}}</p>

  
  

</div>
{% endblock %}




