{% extends 'base.html.twig' %}



{% block title %}Hello Article page!{% endblock %}

{% block body %}


<div class="example-wrapper">
   
<ul>
   {% for article in tabArticles %}
        <li><a href="{{ path('afficherById', {id: article.id}) }}">{{ article.titre }}</a></li>
    {% endfor %}
</ul>
    

</div>
{% endblock %}

{% block javascripts %}
{# ne pas overrider le script parent #}
 {{ parent() }}
 <script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}




