{% extends 'base.html.twig' %}

{% block title %}Hello New Article!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Article : {{ article.titre }}! </h1>

    <p> Description : {{article.description}}</p>

    

</div>

{% endblock %}